.projects {
  padding: 115px 0;
  color: white;
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      #101010 18%,
      #141414 50%,
      #101010 82%,
      rgba(0, 0, 0, 0) 100%
    );
}

.projects .container {
  position: relative;
}


.projects-badge {
  color: #d6a84f;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}



.projects-list {
  display: grid;
  gap: 34px;
}

.project-item {
  display: grid;
  grid-template-columns: 70px 360px 1fr;
  gap: 34px;
  align-items: center;
  padding: 28px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.project-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.project-number {
  color: #d6a84f;
  font-size: 18px;
  font-weight: 900;
}

.project-image {
  width: 100%;
  height: 210px;
  overflow: hidden;
  border-radius: 16px;
  background: #1c1c1c;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.project-item:hover .project-image img {
  transform: scale(1.04);
}

.project-info h3 {
  font-size: 28px;
  margin-bottom: 12px;
  color: white;
}

.project-info p {
  max-width: 580px;
  color: #c9c9c9;
  line-height: 1.8;
  margin-bottom: 18px;
  font-size: 15px;
}

.project-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.project-tags span {
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 800;
  padding: 7px 11px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.045);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.project-links {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.project-links a {
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  transition: 0.3s ease;
}

.project-links a:first-child {
  color: #d6a84f;
}

.project-links a:last-child {
  color: #9b9b9b;
}

.project-links a:hover {
  color: white;
}

/* Responsive */
@media (max-width: 1050px) {
  .projects {
    padding: 90px 16px;
  }

  .project-item {
    grid-template-columns: 50px 300px 1fr;
    gap: 24px;
  }

  .project-image {
    height: 190px;
  }
}

@media (max-width: 850px) {

  .project-item {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .project-number {
    font-size: 15px;
  }

  .project-image {
    height: 230px;
  }

  .project-info {
    text-align: left;
  }
}

@media (max-width: 520px) {
  .projects {
    padding: 75px 14px;
  }




  .project-image {
    height: 190px;
  }

  .project-info h3 {
    font-size: 24px;
  }

  .project-info p {
    font-size: 14px;
  }
}