* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: sans-serif;
  background: #0f172a; /* dark */
  color: white;
  background:
    radial-gradient(
      circle at 15% 20%,
      rgba(56, 189, 248, 0.12),
      transparent 25%
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(139, 92, 246, 0.15),
      transparent 30%
    ),
    linear-gradient(
      180deg,
      #020617 0%,
      #071227 20%,
      #08152e 40%,
      #091a35 60%,
      #0b1730 80%,
      #020617 100%
    );

  color: white;
}
